.pDataValue {
    font-size: 24px;
    font-weight: 300;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pDataValue_positive {
    color: rgb(64, 187, 64);
}

.pDataValue_negative {
    color: rgb(209, 65, 65);
}