.productImageCarousel {
  --image-size: 420px;
  width: var(--image-size);
  position: relative;
}

.productImageCarousel img {
  width: var(--image-size);
  height: var(--image-size);
  border-radius: 5px;
}

.productImageCarousel img:focus {
  outline: none;
}

.productImageCarousel .slick-list {
  overflow: hidden;
}

.productImageCarousel .slick-list:focus {
  outline: none;
}

.productImageCarousel .slick-track:focus {
  outline: none;
}

.productImageCarousel .slick-arrow {
  border-radius: 15px;
  border: 0;
  height: 30px;
  width: 30px;
  background-color: #ddd;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-outline-radius: 16px;
  position: absolute;
  z-index: 5000;
  top: calc(50% - 11px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.productImageCarousel .slick-arrow.slick-prev {
  right: 10px;
}

.productImageCarousel .slick-arrow.slick-prev i {
  -webkit-transform: translateX(1px);
          transform: translateX(1px);
}

.productImageCarousel .slick-arrow.slick-next {
  left: 10px;
}

.productImageCarousel .slick-arrow.slick-next i {
  -webkit-transform: translateX(-1px);
          transform: translateX(-1px);
}

.productImageCarousel .slick-dots {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
  font-size: 0;
  margin-top: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.productImageCarousel .slick-dots li {
  margin-bottom: 10px;
}

.productImageCarousel .slick-dots li:not(:last-child) {
  margin-right: 10px;
}

.productImageCarousel .slick-dots li.slick-active button {
  background-color: #353c41;
  -webkit-box-shadow: 0 0 0 1px #353c41;
          box-shadow: 0 0 0 1px #353c41;
}

.productImageCarousel .slick-dots li button {
  display: block;
  padding: 0;
  font-size: 0;
  height: 16px;
  width: 16px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 0 1px #aaa;
          box-shadow: 0 0 0 1px #aaa;
  border: 3px solid white;
  background-color: #aaa;
}

.cPrintful_itemPrice {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0;
  color: #c02222;
}

.ipsApp .cPrintful_itemForm input[type="number"] {
  width: 60px;
}

.ipsApp .cPrintful_itemForm select {
  width: 160px;
}

.cPrintful_itemForm .ipsForm ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cPrintful_itemForm .ipsForm ul > li.ipsFieldRow:first-child {
  margin-right: 15px;
}

.cPrintful_itemForm .ipsForm ul > li.ipsFieldRow:nth-last-child(2) {
  position: absolute;
  right: 24px;
  top: 26px;
}

.cPrintful_itemForm .ipsForm ul > li.ipsFieldRow:last-child {
  position: absolute;
  right: 24px;
  top: 126px;
}

.cPrintful_itemForm .ipsForm .ipsFieldRow_required {
  display: none;
}

.cProduct_columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cProduct_columns > .ipsPad_half:first-child {
  border-radius: 5px 0 0 5px;
}

.cProduct_columns > .ipsPad_half:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cProduct_columns > .ipsPad_half:last-child .ipsType_pageTitle {
  max-width: calc(100% - 200px);
}

.productImageCarousel_nav {
  --image-size: 60px;
  width: 420px;
}

.productImageCarousel_nav *:focus {
  outline: none;
}

.productImageCarousel_nav img {
  height: var(--image-size);
  width: var(--image-size);
  margin: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.productImageCarousel_nav img.slick-active {
  border: 1px solid #177ec9;
  -webkit-box-shadow: rgba(52, 128, 187, 0.3) 0px 0px 0px 4px;
          box-shadow: rgba(52, 128, 187, 0.3) 0px 0px 0px 4px;
}

.productImageCarousel_nav .slick-list {
  overflow: hidden;
  padding: 10px;
}

@media screen and (max-width: 979px) {
  .cProduct_columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cProduct_columns > .ipsPad_half:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px 5px 0 0;
  }
  .cPrintful_itemForm .ipsForm ul > li.ipsFieldRow:nth-last-child(2) {
    top: 452px;
  }
  .cPrintful_itemForm .ipsForm ul > li.ipsFieldRow:last-child {
    top: 552px;
  }
  .productImageCarousel {
    --image-size: 300px;
  }
  .productImageCarousel_nav {
    width: 300px;
  }
  .productImageCarousel_nav .slick-list {
    width: 300px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .cProduct_columns > .ipsPad_half:last-child .ipsType_pageTitle {
    max-width: 100%;
  }
  .cProduct_columns .ipsForm {
    padding-bottom: 43px;
  }
  .cPrintful_itemForm .ipsForm ul > li.ipsFieldRow:nth-last-child(2) {
    top: unset;
    bottom: 24px;
    left: 24px;
    margin-bottom: 0;
  }
  .cPrintful_itemForm .ipsForm ul > li.ipsFieldRow:last-child {
    top: unset;
    bottom: 24px;
  }
}

@media screen and (max-width: 420px) {
  .cPrintful_itemForm .ipsForm ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .cPrintful_itemForm .ipsForm ul li[id*="printful_item_color"],
  .cPrintful_itemForm .ipsForm ul li[id*="printful_item_size"] {
    width: 100%;
    margin-right: 0;
  }
  .ipsApp .cPrintful_itemForm select {
    width: 100%;
  }
}
/*# sourceMappingURL=product.css.map */